<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyKIX9zSi183LiEANwIPKg167QFZwJ_xM</string>
	<key>GCM_SENDER_ID</key>
	<string>508053388777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phinion.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>dealstore-cb799</string>
	<key>STORAGE_BUCKET</key>
	<string>dealstore-cb799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508053388777:ios:328b465953d445b8bc9f78</string>
</dict>
</plist>